{
  "root": true,
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "prettier",
    "kentcdodds",
    "kentcdodds/react",
    "kentcdodds/jsx-a11y",
    "plugin:@next/next/recommended",
    "plugin:import/recommended"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "rules": {
    "import/extensions": [
      "warn",
      "never",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "css": "ignorePackages",
        "json": "ignorePackages",
        "md": "ignorePackages"
      }
    ],
    "import/default": 2,
    "import/export": 2,
    "import/namespace": 2,
    "import/named": 2,
    "import/newline-after-import": 2,
    "import/no-unresolved": [2, { "commonjs": true, "amd": true }],
    "import/no-extraneous-dependencies": 2,
    "import/order": "error",

    "no-shadow": "off",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "no-use-before-define": "off",

    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/control-has-associated-label": "off",

    "react/jsx-closing-tag-location": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": ["off"],
    "react/prop-types": "off",

    "no-console": ["error", { "allow": ["warn", "error", "info"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["./", "node_modules"]
      }
    },
    "import/extensions": [".js", ".mjs", ".jsx", ".ts", ".tsx"]
  },
  "overrides": [
    {
      "files": [".eslintrc.js", "*.config.js"],
      "parserOptions": { "sourceType": "script" },
      "env": { "node": true }
    }
  ]
}
